.form-error {
  color: #e74c3c; }

.formradio-container {
  padding-bottom: 0.8rem; }

.form-input-text {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  vertical-align: sub; }

.form-input-text-trans {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  padding: 1.5rem;
  background: transparent;
  border: 1px solid rgba(242, 242, 242, 0.3);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  margin: 0 0 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  vertical-align: sub; }

.form-submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #378FEE;
  width: 100%;
  border: 0;
  border-radius: 0px;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form-submit-round {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  border-radius: 5rem;
  padding: 1rem;
  color: #2f80ed;
  font-size: 1.5rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form-submit:hover, .form button:active, .form button:focus {
  background: #0f5cb0; }

.form-textarea {
  width: 100%;
  font-size: 1.5rem !important; }

.form-submit-round:hover, .form button:active, .form button:focus {
  background: #e6e6e6;
  font-weight: bold; }

.radio-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }

.star-title {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.control {
  display: inline-block;
  position: relative;
  padding: 0 2.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 0.1rem;
  left: 0;
  height: 1.7rem;
  width: 1.7rem;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #378FEE; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #378FEE; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none; }

.control__indicator:after {
  content: '';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block; }

.control--checkbox .control__indicator:after {
  width: 0.4rem;
  height: 0.7rem;
  border: solid #fff;
  margin-bottom: 0.5rem;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--radio .control__indicator:after {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 0.5rem; }

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b; }
