.tab-container {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .tab-container .headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }

.tab-header {
  background: #3498db;
  color: white;
  padding: 1rem; }

.selected {
  background: #217dbb; }
