$header-bg: #3498db;

.tab-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    .headers{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.tab-header{
    background: $header-bg;
    color: white;
    padding: 1rem;
}

.selected {
    background: darken($header-bg, 10%);
}